@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-section{
  width: 100%;
  min-height: 100vh;

  padding: 50px;

  background: linear-gradient(135deg,#0f172a,#1e293b,#334155);

  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  gap: 30px;

  font-family: "Poppins", sans-serif;
}

/* Flight Card */

.flight-card{

  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(18px);

  border: 1px solid rgba(255,255,255,0.12);

  border-radius: 25px;

  padding: 30px;

  color: white;

  transition: 0.4s ease;

  position: relative;

  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* Hover */

.flight-card:hover{
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

/* Top */

.flight-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* City */

.city-box p{
  color: #cbd5e1;
  font-size: 14px;
  margin-bottom: 5px;
}

.city-box h2{
  font-size: 30px;
  font-weight: 700;
}

/* Flight Icon */

.flight-icon{
  font-size: 40px;
  color: #38bdf8;
}

/* Middle */

.flight-middle{
  margin: 25px 0;
}

.line{
  width: 100%;
  height: 2px;

  background: linear-gradient(to right,#38bdf8,#2563eb);

  border-radius: 10px;
}

/* Bottom */

.flight-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Time */

.time-box p{
  color: #cbd5e1;
  margin-bottom: 6px;
}

.time-box h3{
  font-size: 18px;
  color: white;
}

/* Price */

.price-box{
  text-align: right;
}

.price-box h2{
  font-size: 30px;
  color: #38bdf8;
  margin-bottom: 10px;
}

/* Button */

.price-box button{

  padding: 10px 20px;

  border: none;

  border-radius: 12px;

  background: linear-gradient(45deg,#38bdf8,#2563eb);

  color: white;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s ease;
}

/* Button Hover */

.price-box button:hover{

  transform: scale(1.05);

  box-shadow: 0 10px 20px rgba(56,189,248,0.4);
}

/* Responsive */

@media(max-width:768px){

  .card-section{
    padding: 20px;
  }

  .flight-top{
    flex-direction: column;
    gap: 20px;
  }

  .flight-bottom{
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .price-box{
    text-align: center;
  }

}